<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuejs</title>
</head>
<body>
    <header><h1>VueJS</h1></header>
    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, nisi? Commodi, optio officia similique reprehenderit id atque nam. Facilis deserunt nihil consequuntur assumenda. Quaerat ab odit itaque cum mollitia eos.</p>
    </div>
    <div id="app">
        <div class="condition">
            <button @click="toggle">toggle</button>
            <h1 v-if="awesome">Vue is awesome!</h1>
            <h1 v-else>Oh no</h1>
        </div>
        <div class="condition2">
            <button @click="changeTabs('login')">login</button>
            <button @click="changeTabs('register')">register</button>

            <div class="login" style="width: 100%; border: 1px #000 solid; padding: 5px;" v-if="tabSelected === 'login' ">
                <input type="text" placeholder="username">
                <input type="password" placeholder="password">
            </div>
            <div class="register" style="width: 100%; border: 1px #000 solid; padding: 5px;" v-else>
                <input type="text" placeholder="username">
                <input type="password" placeholder="password">
                <input type="password" placeholder="retype password">
            </div>
        </div>
    </div>

    <footer><h1>Footer</h1></footer>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="main.js"></script>
</body>
</html>