<template>
  <div id="app">
    <CompHeader :headerTitle="headerTitle" @changeTitleEvent="handleChangeTitle"/>
    <CompList :listUser="listUser" />
    <CompRef />
    <CompSlot />
    <CompFooter :footerTitle="footerTitle" />
  </div>
</template>

<script>
import CompHeader from "./components/CompHeader.vue";
import CompFooter from "./components/CompFooter.vue";
import CompList from "./components/CompList.vue";
import CompRef from "./components/CompRef.vue";
import CompSlot from "./components/CompSlot.vue";
export default {
  name: "app",
  data() {
    return {
      msg: "Hello",
      headerTitle: "Header Props",
      footerTitle: "Footer Props",
      listUser: [
        {id: 1, name: "AAAA", email:"AAAA@gmail.com"},
        {id: 2, name: "BBBB", email:"BBBB@gmail.com"},
        {id: 3, name: "CCCC", email:"CCCC@gmail.com"},
        {id: 4, name: "DDDD", email:"DDDD@gmail.com"}
      ]
    };
  },
  components: {
    CompHeader,
    CompFooter,
    CompList,
    CompRef,
    CompSlot
  },
  methods: {
    handleChangeTitle(data) {
      this.headerTitle = data.title
    }
  },
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
