<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuejs</title>
</head>
<body>
    <header><h1>VueJS</h1></header>
    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, nisi? Commodi, optio officia similique reprehenderit id atque nam. Facilis deserunt nihil consequuntur assumenda. Quaerat ab odit itaque cum mollitia eos.</p>
    </div>
    <div id="app">
        <h2>{{ title }}</h2>
        <div class="binding_data">
            <a :href="url" :target="target">Binding Data</a>
        </div>
    </div>

    <footer><h1>Footer</h1></footer>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="main.js"></script>
</body>
</html>