<template>
  <footer>
    <h1>{{ footerTitle }}</h1>
  </footer>
</template>

<script>
export default {
  name: "CompFooter",
  props: {
    footerTitle: String,
  },
  data() {
    return {
      text: "Footer",
    };
  },
};
</script>

<style>
footer {
  text-transform: uppercase;
}
</style>