<template>
  <div class="comp-slot">
    <h1>Demo Slot</h1>
    <CompTabs title="Tab Title">
      <ul class="tab_header">
        <li
          v-for="(item, index) in tabHeader"
          :key="item.id"
          @click="setActiveTab(index)"
          :class="{ active: tabActive == index }"
        >
          {{ item.text }}
        </li>
      </ul>

      <div class="tab_content tab1" v-if="tabActive == 0">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
          possimus ipsum nulla ratione vitae, sequi necessitatibus atque libero
          aliquid omnis porro dolorem nihil officiis nisi. Harum eaque molestias
          ut nulla?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
          possimus ipsum nulla ratione vitae, sequi necessitatibus atque libero
          aliquid omnis porro dolorem nihil officiis nisi. Harum eaque molestias
          ut nulla?
        </p>
      </div>
      <div class="tab_content tab2" v-if="tabActive == 1">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
          possimus ipsum nulla ratione vitae, sequi necessitatibus atque libero
          aliquid omnis porro dolorem nihil officiis nisi. Harum eaque molestias
          ut nulla?
        </p>
      </div>
      <div class="tab_content tab3" v-if="tabActive == 2">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
          possimus ipsum nulla ratione vitae, sequi necessitatibus atque libero
          aliquid omnis porro dolorem nihil officiis nisi. Harum eaque molestias
          ut nulla?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
          possimus ipsum nulla ratione vitae, sequi necessitatibus atque libero
          aliquid omnis porro dolorem nihil officiis nisi. Harum eaque molestias
          ut nulla?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
          possimus ipsum nulla ratione vitae, sequi necessitatibus atque libero
          aliquid omnis porro dolorem nihil officiis nisi. Harum eaque molestias
          ut nulla?
        </p>
      </div>
    </CompTabs>
  </div>
</template>

<script>
import CompTabs from "./CompTabs.vue";
export default {
  name: "CompSlot",
  data() {
    return {
      tabHeader: [
        { id: 1, text: "Tab1" },
        { id: 2, text: "Tab2" },
        { id: 3, text: "Tab3" },
      ],
      tabActive: 1,
    };
  },
  methods: {
    setActiveTab(index) {
      this.tabActive = index;
    },
  },
  components: {
    CompTabs,
  },
};
</script>

<style>
.tab_header {
  display: flex;
}
.tab_header li {
  display: unset !important;
  margin: 5px;
  background-color: aqua;
  padding: 10px;
  cursor: pointer;
}
</style>