<template>
  <div class="comp-ref">
      <h2>Demo Ref</h2>
      <button
        @click="handleChangeFile"
        class="change_file"
      >Change File</button>
      <input 
        type="file"
        ref="fileInput"
        style="display: none"
      >
  </div>
</template>

<script>
export default {
  name: "CompRef",
  methods: {
      handleChangeFile() {
        this.$refs.fileInput.click()
      }
  },
}
</script>

<style>
.change_file {
    background-color: aqua;
    width: 100px;
    height: 50px;
}
</style>