<template>
  <div class="list">
    <h2>{{ text }}</h2>
    <CompUser 
      v-for="user in listUser"
      :key="user.id"
      :user="user"
      @deleteUserEvent="handleDelete"
    />
  </div>
</template>

<script>
import CompUser from "./CompUser.vue";
export default {
  name: "CompList",
  props: {
    listUser: {
      type: Array,
      default: []
    },
  },
  data() {
    return {
      text: "list",
    };
  },
  components: {
    CompUser,
  },
  methods: {
    handleDelete(data) {
      var indexDelete = -1;
      this.listUser.forEach((value, index) => {
        if (value.id === data.id) {
          indexDelete = index;
        }
      });
      if(indexDelete != -1){
        this.listUser.splice(indexDelete, 1)
      }
    },
  },
};
</script>

<style>
</style>