<template>
  <header>
    <h1>{{ headerTitle }}</h1>
    <button @click="changeTitle">Change title</button>
  </header>
</template>

<script>
export default {
  name: "CompHeader",
  props: {
    headerTitle: String,
  },
  data() {
    return {
      text: "Header",
    };
  },
  methods: {
    changeTitle() {
      var data = {
        title: "Title change từ component Header"
      }
      this.$emit('changeTitleEvent', data)
    }
  },
};
</script>

<style>
header {
  text-transform: uppercase;
}
</style>
