<template>
  <div class="comp-tabs">
      <h1>Demo Tabs</h1>
      <div class="tab_title">{{ title }}</div>
      <div class="tab_content">
          <slot></slot>
      </div>
  </div>
</template>

<script>
export default {
  name: "CompTabs",
  props: {
      title: String
  }
}
</script>

<style>

</style>