<template>
  <div class="user" :data-id="user.id">
      <p>------------------{{ text }}------------------</p>
      <p>name: {{ user.name }}</p>
      <p>email: {{ user.email }}</p>
      <button @click="deleteUser">delete</button>
  </div>
</template>

<script>
export default {
  name: "CompUser",
  props: {
    user: {
      type: Object,
      default: null
    },
  },
  data() {
    return {
      text: "user"
    };
  },
  methods: {
    deleteUser() {
      let data = {
        id: this.user.id,
        name: this.user.name
      }
      this.$emit('deleteUserEvent', data)
    }
  },
};
</script>

<style>

</style>